*{
    margin: 0;
    padding: 0;

}
body,html{
    background-color: white;
    font-family: "Zain", sans-serif;
    direction: rtl;
    text-align: center;
    
    }
    .move_section{
        display: flex;
      background-color: rgb(0, 119, 225);
      width: 1358px;
      height: 200px;
      align-items: center;
      margin: 0;
      padding: 0;
      border: none;

     
    }
    .icons{
width: 60px;
height: 60px;
background-color: white;
border: 0;
border-radius: 50px;
margin: 30px;
align-content: center;
    }
    .icon-img{
        width: 40px;
        height: 45px;

    }
    .move-item{
margin-right: 70px;


    }
    .move-item:active{

        border-bottom: 2px solid white;
    }
    .move-itemo{
        margin-right: 120px;
       
         }
           
              
             

    .link{
color: white; 
text-decoration: none; 
font-size: 20px; 
display: block;
margin-top: 0;
padding-top: 0; }

.client-page
{
display: flex;
height: 800px;
width: 1355x;
background-color: white;
}
.client-type{
height: 455px;
width: 340px;
background-color: white;
border-radius: 0px;
margin-right: 0px;
border: none;
border-right: 1px solid rgb(95, 95, 95);

}

.nav-img{
width: 30px;
height: 30px;
margin-right: 20px;

}
.type-item{
    margin-top: 10px;
    width: 200px;
    height: 25px;
    display: flex;
    padding: 20px;
    border-radius: 100px;
    margin-right: 30px;
    align-items: center;
  

}
.type-item:hover{

    background-color: rgb(190, 225, 255);
    border: none;
}
a{
text-decoration: none;
color: rgb(37, 37, 37);
font-size: 20px;
margin-top: 5px;
margin-right: 15px;
font-weight: 500;
font-weight: 800;



}
.page-content{
width: 1200px;
height: 600px;
background-color: white;

}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border: 2px solid rgb(0, 119, 225);
    text-align: center;
    background-color: white;
    font-weight: 900;
    font-family: "Zain", sans-serif;

}
button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgb(0, 119, 225);
    color: white;
    font-weight:bolder;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    font-family: "Zain", sans-serif;
    width: 130px;
}
