*{
  margin: 0;
  padding: 0;

}
body,html{
  background-color: white;
  font-family: "Zain", sans-serif;
  direction: rtl;
  text-align: center;
  
  }
  .move_section{
      display: flex;
    background-color: rgb(0, 119, 225);
    width: 1358px;
    height: 200px;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;

   
  }
  .icons{
width: 60px;
height: 60px;
background-color: white;

border-radius: 50px;
margin: 30px;
align-content: center;
  }
  .icon-img{
      width: 40px;
      height: 45px;

  }
  .move-item{
margin-right: 70px;


  }
  .move-itemo{
      margin-right: 120px;
     
       }       

  .link{
color: white; 
text-decoration: none; 
font-size: 20px; 

margin-top: 0;
padding-top: 0; }
.content_page{
display: flex;
border-color: white;
}
.notf-type{
  height: 455px;
width: 290px;
background-color: white;
border-radius: 0px;
margin-right: 30px;
border-right: 1px solid rgb(95, 95, 95);
font-family: "Zain", sans-serif;



}
.notfs{
  width: 1050px;
  height: 400px;
  background-color:white;
  margin-top: 10px;
text-align: center;

font-weight: normal;
margin-right: 10px;
font-family: "Zain", sans-serif;

}

.nicon-img{
width: 25px;
height: 25px;
margin-right: 20px;
margin-top: 5px;

}
.notf-typeico{
  margin-top: 15px;
  width: 200px;
  height: 50px;
  display: flex;
 
  border-radius: 100px;
  margin-right: 45px;
}
a{
text-decoration: none;
color: black;
font-size: 20px;
margin-top: 5px;
margin-right: 3px;
font-weight: 500;
font-weight: 800;
}
.notf-typeico:hover {

background-color: rgb(172, 216, 255);
}
.no-notfication{
  margin: 20px;
width: 60px;
height: 60px;
  
}
p{
font-size: 20px;

}
.not-content{
width: 980px;
height: 150px;
background-color:white;

border-radius: 5px;
margin-right: 20px;
border: 1px solid black;



}
h2{
  font-size: 20px;
  margin-top: 10px;
}
.content-1{
  margin:10px;
  border:none;
  display: flex;
}
.content-2{
  display: flex;
}

.repo_list{
  background-color: rgb(255, 255, 255); 
  margin-top: 0px;
  width:2000px;
  height:900px;
  text-align: center;
  font-size:15px;

}
.container {
  background: rgba(255,255,255,0.9); /* حاوية بيضاء شفافة */
  padding: 20px;
  border-radius: 10px;
  width: 700px;
  height: 900px;
  max-width: 800px;
  margin: auto;
  color: #333;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn {
  background-color: #66a3ff;
  border: none;
  padding: 10px;
  margin-left: 150px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Zain", sans-serif;
  border-radius: 20px;

}
.btn:hover {
  background-color: #3385ff;
}
.report-content {
  margin-top: 20px;
  padding: 15px;
  background: #f1f1f1;
  border-radius: 5px;
  text-align: left;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

