*{
    margin: 0;
    padding: 0;

}
body,html{
    background-color: white;
    font-family: "Zain", sans-serif;
    direction: rtl;
    text-align: center;
    
    }
    .move_section{
        display: flex;
      background-color: rgb(0, 119, 225);
      width: 1358px;
      height: 200px;
      align-items: center;
      margin: 0;
      padding: 0;
      border: none;

     
    }
    .icons{
width: 60px;
height: 60px;
background-color: white;

border-radius: 50px;
margin: 30px;
align-content: center;
    }
    .icon-img{
        width: 40px;
        height: 45px;

    }
    .move-item{
margin-right: 70px;


    }
    .move-itemo{
        margin-right: 120px;
        align-items: center;
       
         }       

    .link{
color: white; 
text-decoration: none; 
font-size: 20px; 

margin-top: 0;
padding-top: 0; }
.content_page{
display: flex;
border-color: white;
}
.notf-type{
    height: 455px;
width: 290px;
background-color: white;
border-radius: 0px;
margin-right: 0px;
border: none;
border-right: 1px solid rgb(95, 95, 95);

}
.notfs{
    width: 1050px;
    height: 400px;
    background-color:white;
    margin-top: 10px;
    text-align: center;
    font-weight: normal;
    margin-right: 10px;
    display: flex;

}

.nicon-img{
width: 25px;
height: 25px;
margin-right: 20px;
margin-top: 5px;

}
.notf-typeico{
    margin-top: 15px;
    width: 200px;
    height: 50px;
    display: flex;
   
    border-radius: 100px;
    margin-right: 45px;
}
a{
 text-decoration: none;
color: black;
font-size: 20px;
margin-top: 5px;
margin-right: 20px;
font-weight: 500;
font-weight: 800;
}
.notf-typeico:hover {

background-color: rgb(172, 216, 255);
}
.no-notfication{
    margin: 20px;
width: 60px;
height: 60px;
    
}
p{
font-size: 20px;

}
.not-content{
width: 300px;
height: 250px;
background-color:white;
border-radius: 15px;
margin-right: 20px;

box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);


}
h2{
    font-size: 20px;
    margin-top: 10px;
}
.content-1{
    border:none;
    background-color: rgb(171, 205, 235);
    color:rgb(0, 119, 225);
    width: 300px;
    height: 145px;
   align-content: center;
    margin: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    

}
.content-2{
    background-color: white;
    display: flex;
    margin-top: 10px;
    width: 300px;
    height: 100px;
    margin-right: 0px;
    margin-top: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.cho-icon{
    border: 2px solid rgb(0, 119, 225);
    background-color:rgb(171, 205, 235);
    padding: 10px;
    border-radius: 30px;
    
    font-size:14px ;
    width: 40px;
    height: 40px;
    font-weight: 600;
    margin-right: 15px;
    align-items: center;
}
.view-icon{
    background-color:rgb(0, 119, 225); 
    color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 25px;
    margin-top: 10px;
    font-size:14px ;
    width: 100px;
    font-weight: 600;
    margin-right: 20px;

}
.cho-img{
width: 15px;
height: 15px;

}
h5{
    color: black;
}