.sitebody{
background-color: rgb(0, 119, 255);
font-family: "Zain", sans-serif;
direction: rtl;
text-align: center;

}
.aqtion{
    
    display: flex;
background-color: white;
align-items: center;
width: 800px;
height: 600px;
margin-right: 300px;
border-radius: 30px;
}
.wellcome-text{
align-items: center;
margin: 30px;
width: 350px;
height: 550;
padding: 0;

}
.wellcome-img{
width: 250px;
height: 450px;
margin: 2px;}

.choss-btn{
    background-color:rgb(0, 119, 255); 
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 50px;
    margin: 10px;
    font-size:16px ;
    width: 80px;
    font-weight: 600;
}